#h_markbook_gridIndexEntry_bodytable tr.SubjectCompletedRow td {
    font-weight: normal;
    font-family: unset;
    
    background-color: var(--nmr-color-npu-subject-completed) !important;
    color: unset;
}
#h_addsubjects_gridSubjects_bodytable tr.Row1_Bold td, #Addsubject_course1_gridCourses_bodytable tr.Row1_sel td, #Addsubject_course1_gridCourses_grid_body_div tr.Row1_sel td, #Addsubject_course1_gridCourses_bodytable tr.Row1_Bold_sel td, #Addsubject_course1_gridCourses_grid_body_div tr.Row1_Bold_sel td, #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow td {
    font-weight: normal;
    font-family: unset;
    
    background-color: var(--nmr-color-npu-subject-felvett) !important;
    color: var(--nmr-color-text) !important;
}
#h_addsubjects_gridSubjects_bodytable tr.npu_completed td, #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow[data-completed] td {
    font-weight: normal;
    font-family: unset;
    
    background-color: var(--nmr-color-npu-subject-completed) !important;
    color: unset;
}
#h_exams_gridExamList_bodytable tr.gridrow_blue td {
    background-color: var(--nmr-color-npu-subject-felvett) !important;
    color: var(--nmr-color-text) !important;
}

#h_exams_gridExamList_bodytable tr.npu_failed td {
    background-color: var(--nmr-color-npu-subject-failed) !important;
    color: var(--nmr-color-text) !important;
}
#h_advance_gridSubjects_bodytable tr.gridrow_green td, #h_advance_NonCurrTemp_bodytable tr.gridrow_green td {
    background-color: var(--nmr-color-npu-subject-completed) !important;
    color: var(--nmr-color-text) !important;
}
#h_advance_gridSubjects_bodytable tr:not(.gridrow_blue):not(.gridrow_green) td, #h_advance_NonCurrTemp_bodytable tr:not(.gridrow_blue):not(.gridrow_green) td {
    background-color: var(--nmr-color-npu-subject-felvett) !important;
    color: var(--nmr-color-text) !important;
}
#h_advance_gridSubjects_bodytable tr.gridrow_blue td, #h_advance_NonCurrTemp_bodytable tr.gridrow_blue td {
    color: var(--nmr-color-text) !important;
}