.bevitelimezo {
    font-size: unset !important;
    font-weight: unset !important;
    font-family: var(--nmr-font-primary) !important;
}
select > option {
    font-size: unset !important;
    font-family: unset !important;
    font-weight: unset !important;
    color: var(--nmr-color-text-black) !important;
    font-style: unset !important;
}