
.modalBackground {
    background-color: var(--nmr-color-gray-200);
}
.modalfooterleftcorner,
.modalfooterrightcorner_NoResize,
.modalfooter {
    background-image: unset;
    display: none;
}
.modalheadercell,
.modalheaderleftcorner,
.modalheaderrightcorner,
.modalbodyleft,
.modalbodyright {
    background-image: unset;
}
.modalheadercell {
    background: var(--nmr-color-primary-100);
}
.modalpanel_header_caption {
    color: var(--nmr-color-text)
}
.modalbody {
    padding-top: unset;
}
.modalpanelcontent_noscrollbar_noheight {
    background-color: var(--nmr-color-gray-100);
}
.ui-widget-content {
    padding: 0;
    border: unset;
    background: unset;
    color: var(--nmr-color-text);
    background-color: var(--nmr-color-gray-200);
}
.ui-widget-header {
    background: unset;
    border: unset;
    border-radius: unset;
    color: unset;
    background-color: var(--nmr-color-gray-300);
}
.ui-dialog {
    & .ui-dialog-title {
        overflow: unset;
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: unset;
    color: unset;
}
input[type=button],
input[type=submit] {
    border: unset !important;
    border-radius: unset;
    box-shadow:unset;
    -webkit-box-shadow: unset;
    margin: .2rem;
    color: var(--nmr-color-text-white);
    background-color: var(--nmr-color-primary-100) !important;
    &:disabled {
        background-color: var(--nmr-color-gray-500) !important;
    }
    &:hover:not(:disabled) {
        background-color: var(--nmr-color-primary-200) !important;
    }
}
.readmessage_editor {
    background: var(--nmr-color-gray-300);
    border: unset;
    margin: unset;
}