:root {
    --nmr-color-gray-100: hsl(330, 0%, 100%);
    --nmr-color-gray-200: hsl(330, 0%, 98%);
    --nmr-color-gray-300: hsl(330, 0%, 96%);
    --nmr-color-gray-400: hsl(330, 0%, 94%);
    --nmr-color-gray-500: hsl(330, 0%, 92%);
    --nmr-color-gray-600: hsl(330, 0%, 90%);
    --nmr-color-gray-700: hsl(330, 0%, 88%);
    --nmr-color-gray-800: hsl(330, 0%, 86%);
    --nmr-color-gray-900: hsl(330, 0%, 84%);

    --nmr-color-primary-100: #FF6347;
    --nmr-color-primary-200: #CC4F38;
    --nmr-color-primary-300: #993B2A;
    --nmr-color-primary-400: #66271C;
    --nmr-color-primary-500: #4C1D15;
    
    --nmr-color-text-white: #FEFEFE;
    --nmr-color-text-black: #141414;
    --nmr-color-text-inverse: #FEFEFE;
    --nmr-color-text: #141414;
    
    --nmr-color-gadget-header-foreground: var(--nmr-color-text-white);
    --nmr-color-gadget-header-background: var(--nmr-color-primary-100);
    --nmr-color-gadget-border: var(--nmr-color-primary-100);
    --nmr-color-gadget-background: var(--nmr-color-gray-200);
    --nmr-color-nav-item-foreground: var(--nmr-color-text-white);
    
    --nmr-font-primary: Comfortaa;
}